<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Invoer bbq / overnachtingen {{ chosenYear }}
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overzicht BBQ / overnachtingen {{ chosenYear }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toast>
    <div *ngIf="detail !== null">
      <div>{{ detail }}</div>
    </div>
  </ion-toast>
  <mat-accordion>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Toevoegen bbq / overnachtingen
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <ion-card>
        <form [formGroup]="bezoekersForm" novalidate *ngIf="showBezoekForm">
              
          <ion-item>
            <ion-label>Datum</ion-label>
            <ion-input name="datum" formControlName="datum" type="date" (input)="parseDate($event.target.value)"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label>Personen</ion-label>
            <ion-input name="persons" formControlName="persons" type="number"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label>Verkoop hout</ion-label>
            <ion-input name="wood" formControlName="wood" type="number"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label>Lengte boot</ion-label>
            <ion-input name="lengthBoat" formControlName="lengthBoat" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Tent</ion-label>
            <ion-input name="tents" formControlName="tents" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Betaling contant</ion-label>
            <ion-checkbox name="cashPayment" formControlName="cashPayment"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Eiland</ion-label>
            <ion-select name="island" formControlName="island" placeholder="Kies een eiland">
              <ion-select-option value="de Biezen">de Biezen</ion-select-option>
              <ion-select-option value="Knarland">Knarland</ion-select-option>
              <ion-select-option value="Leydam">Leydam</ion-select-option>
            </ion-select>
           </ion-item>

           <ion-item>
            <ion-label>Naam boot</ion-label>
            <ion-input name="nameBoat" formControlName="nameBoat" type="text" placeholder="Vul de naam van de boot in (optioneel)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Opmerking</ion-label>
            <ion-input name="remarks" formControlName="remarks" type="text" placeholder="Vul eventuele opmerkingen in (optioneel)"></ion-input>
          </ion-item>

        </form>
        <ion-button (click)="save()" text-center>Opslaan</ion-button>
        <ion-button (click)="cancel()" text-center>Terug</ion-button>
      </ion-card>

    </mat-expansion-panel>
    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Overzicht bezoekers 
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-item>
        <ion-input
        [(ngModel)] = "dateSearch"
        type="date"
        placeholder="Zoek per datum"
        (change)="filterDatatable($event, 'datum')"><ion-icon name="search"></ion-icon></ion-input>
        <ion-icon name="chevron-back-outline" (click)="changeDate(1, false)"></ion-icon>
        <ion-icon name="chevron-forward-outline" (click)="changeDate(1, true)"></ion-icon>  
      </ion-item>
        <ngx-datatable
          class="material"
          (activate)="onActivate($event)"
          [limit]="10" 
          [rows]="rows" 
          [rowHeight]="35" 
          [columnMode]="'force'" 
          [sortType]="'multi'" 
          [messages]="{emptyMessage: 'Er zijn geen gegevens voor deze datum'}"
          [headerHeight]="40" 
          [footerHeight]="60">
      
        <ngx-datatable-column name="visitorsPrice">
          <ng-template let-column="column" ngx-datatable-header-template>Personen</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.visitorsPrice && row.visitorsPrice > 0">&euro; {{row.visitorsPrice}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="boatPrice">
          <ng-template let-column="column" ngx-datatable-header-template>Boot</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.boatPrice && row.boatPrice > 0">&euro; {{row.boatPrice}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="woodPrice">
          <ng-template let-column="column" ngx-datatable-header-template>Hout</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.woodPrice && row.woodPrice > 0">&euro; {{row.woodPrice}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="tentPrice">
          <ng-template let-column="column" ngx-datatable-header-template>Tent</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.tentPrice && row.tentPrice > 0">&euro; {{row.tentPrice}}</span>
          </ng-template>
        </ngx-datatable-column> 

        <ngx-datatable-column name="totalPrice">
          <ng-template let-column="column" ngx-datatable-header-template>Totaal</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            &euro; {{row.totalPrice}} 
          </ng-template>
        </ngx-datatable-column> 

        <ngx-datatable-column name="nameBoat">
          <ng-template let-column="column" ngx-datatable-header-template>Naam boot</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.nameBoat}} 
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="island">
          <ng-template let-column="column" ngx-datatable-header-template>Eiland</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.island}} 
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>  

      <br/>
      <ion-card>
        <ion-card-header>
          <em>Totalen {{chosenDate}}</em>
        </ion-card-header>
        <ion-card-content>
          <div class="footer-flex">
            <div class="footer-label">personen:</div><div>&euro; {{persons}}</div>
          </div>
          <div class="footer-flex">
            <div class="footer-label">boten:</div><div>&euro; {{boats}}</div>
          </div>
          <div class="footer-flex">
            <div class="footer-label">tenten:</div><div>&euro; {{tents}}</div>
          </div>
          <div class="footer-flex">
            <div class="footer-label">hout:</div><div>&euro; {{wood}}</div>
          </div>
          <div class="footer-flex">
            <div class="footer-label">totaal:</div><div>&euro; {{totaal}} (contant &euro; {{cash}} - bank &euro; {{bank}})</div>
          </div>    
        </ion-card-content>
      </ion-card>  
    </mat-expansion-panel>

  </mat-accordion>
  
</ion-content>
