<ion-header>
  <ion-toolbar>
    <ion-title>Login Knarland / de Biezen beheer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="user">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">wachtwoord</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="login()">Login</ion-button>
        <ion-button color="info"><a [routerLink]="['/forgot-password']" style="text-decoration: none; color: black;" >Wachtwoord vergeten?</a></ion-button>
      </ion-col>
    </ion-row>
  </form>  
  <ion-toast>{{ message }}</ion-toast>
</ion-content>
