<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Abonnementen {{ chosenYear }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toast>{{ message }}</ion-toast>
  <mat-accordion>
    <mat-expansion-panel *ngIf="admin" [expanded]="isExpanded"
        (opened)="isExpanded = true"
        (closed)="isExpanded = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Beheer users, abonnementshouders en boten
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-card>
        <ion-button (click)="addUser()" tooltip="persoon toevoegen" positionV="bottom" arrow><ion-icon name="person"></ion-icon><ion-icon name="add"></ion-icon></ion-button>
        <ion-button (click)="updateUser()" tooltip="persoon wijzigen" positionV="bottom" arrow><ion-icon name="person"></ion-icon><ion-icon name="create"></ion-icon></ion-button>
        <ion-button (click)="addUserSubscription()" tooltip="abonnement toevoegen" positionV="bottom" arrow><ion-icon name="people"></ion-icon><ion-icon name="add"></ion-icon></ion-button>
        <ion-button (click)="addBoat()" tooltip="boot toevoegen" positionV="bottom" arrow><ion-icon name="boat"></ion-icon><ion-icon name="add"></ion-icon></ion-button>
        <ion-button (click)="updateBoat()" tooltip="boot wijzigen" positionV="bottom" arrow><ion-icon name="boat"></ion-icon><ion-icon name="create"></ion-icon></ion-button>
        <ion-button (click)="addAdmin()" tooltip="beheerder toevoegen" positionV="bottom" arrow><ion-icon name="settings"></ion-icon><ion-icon name="add"></ion-icon></ion-button>
      </ion-card>
      
      <ion-card *ngIf="showUserForm || showUserList">
        <ion-card-header><em>Persoon</em></ion-card-header>
        
        <ion-item *ngIf="showUserList">
          <ion-label>Selecteer een persoon</ion-label>
          <ionic-selectable
            [(ngModel)]="user"
            [items]="userList"
            itemValueField="id"
            itemTextField="naamCompleet"
            [canSearch]="true"
            (onChange)="getUser($event)">
          </ionic-selectable>
        </ion-item>

        <form [formGroup]="userForm" novalidate *ngIf="showUserForm">
        
          <ion-item>
            <span class="ion-label">Voorletters</span>
            <ion-input name="voorletters" formControlName="voorletters" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <span class="ion-label">Tussenvoegsel</span>
            <ion-input name="tussenvoegsel" formControlName="tussenvoegsel" type="text"></ion-input>
          </ion-item>
          
          <ion-item>
            <span class="ion-label">Naam</span>
            <ion-input name="naam" formControlName="naam" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <span class="ion-label">Telefoon</span>
            <ion-input name="telefoon" formControlName="telefoon" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <span class="ion-label">Email</span>
            <ion-input name="email" formControlName="email" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <span class="ion-label">Thuishaven</span>
            <ion-input name="thuishaven" formControlName="thuishaven" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <span class="ion-label">Opmerking</span>
            <ion-input name="opmerking" formControlName="opmerking" type="text"></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-item *ngIf="showAbo">
                <span class="ion-label">Abonnement</span>
                <ion-checkbox name="abo" value="0"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <span class="ion-label">Boot toevoegen</span>
                <ion-checkbox name="createBoat" [value]="createBoat"></ion-checkbox>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <span class="ion-label">Boot koppelen</span>
                <ion-checkbox name="changeUserBoat" [value]="changeUserBoat">Boot koppelen</ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>

        </form>
      </ion-card>

      <ion-card *ngIf="showUserList">
        
      </ion-card>
      
      <ion-card *ngIf="showBoatForm || showBoatList">
        <ion-card-header><em>Boot</em></ion-card-header>
        
        <ion-card-body>
          <ion-item *ngIf="showBoatList">
            <ion-label>Selecteer een boot</ion-label>
            <ionic-selectable
              [(ngModel)]="boat"
              [items]="boatList"
              itemValueField="id"
              itemTextField="bootCompleet"
              [canSearch]="true"
              (onChange)="getBoat($event)">
            </ionic-selectable>
          </ion-item>

        <form [formGroup]="boatForm" novalidate *ngIf="showBoatForm">
        
          <ion-item>
            <span class="ion-label">Naam boot</span>
            <ion-input name="naamBoot" formControlName="naamBoot" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <span class="ion-label">Lengte boot</span>
            <ion-input name="lengteBoot" formControlName="lengteBoot" type="number"></ion-input>
          </ion-item>
          
          <ion-item>
            <span class="ion-label">Type boot</span>      
            <ion-select name="typeBoot" formControlName="typeBoot">
              <ion-select-option *ngFor="let bt of boatTypeList" [value]="bt">{{ bt.type }}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Persoon toevoegen</ion-label>
                <ion-checkbox name="createUser" [value]="createUser"></ion-checkbox>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>Persoon koppelen</ion-label>
                <ion-checkbox name="changeBoatUser" [value]="changeBoatUser"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
          

        </form>
        
        </ion-card-body>
      </ion-card>
      <ion-card>
        <ion-button (click)="save()" text-center>Opslaan</ion-button>
        <ion-button (click)="cancel()" text-center>Terug</ion-button>
      </ion-card>
    
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="!isExpanded"
      (opened)="isExpanded = false"
      (closed)="isExpanded = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Abonnementshouders
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-item>
        <ion-input
        [(ngModel)] = "aboSearch"
        type="text"
        placeholder="Zoek in de abonnementenlijst"
        (keyup)="filterDatatable($event)"><ion-icon name="search"></ion-icon></ion-input>  
      </ion-item>
      <ion-item>
        <ion-label>Eiland</ion-label>
        <ion-select [(ngModel)]="eiland" placeholder="Kies een eiland">
          <ion-select-option value="de Biezen">de Biezen</ion-select-option>
          <ion-select-option value="Knarland">Knarland</ion-select-option>
          <ion-select-option value="Leydam">Leydam</ion-select-option>
        </ion-select>
        <ion-input type="number" [(ngModel)]="chosenYear" required="true" min="2020" max="2050" (change)="refreshData()"></ion-input> 
      </ion-item>
      
      <ngx-datatable
        (activate)="onActivate($event)"
        class="material"
        [limit]="10" 
        [rows]="rows" 
        [rowHeight]="35" 
        [columns]="columns"
        [columnMode]="'force'" 
        [sortType]="'multi'" 
        [messages]="{emptyMessage: 'Geen abonnnementshouders gevonden'}" 
        [headerHeight]="40" 
        [footerHeight]="60">
      
        <ngx-datatable-column name="naam">
          <ng-template let-column="column" ngx-datatable-header-template>Naam</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.tussenvoegsel !== ''">{{row.tussenvoegsel}} </span>
            {{row.naam}}, {{row.voorletters}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="telefoon">
          <ng-template let-column="column" ngx-datatable-header-template>Telefoon</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.telefoon}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="boot">
          <ng-template let-column="column" ngx-datatable-header-template>Boot</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.boot}} ({{row.lengte}}m)
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="type">
          <ng-template let-column="column" ngx-datatable-header-template>Type boot</ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.type}}
          </ng-template>
        </ngx-datatable-column>
      
      </ngx-datatable>    

    </mat-expansion-panel> 
  </mat-accordion>

</ion-content>
